<div class='col-xs-4 col-xs-offset-4'>
  <h1>My profile</h1>
</div>

<div class='row'>
  <div class='col-xs-12 col-md-5 col-md-offset-1' >
    <h3>My info</h3>
    <% if @profile.picture.presence %>
        <%= image_tag image_path(@profile.picture)%>
    <% else %>
      <%= image_tag ('human_avatar.png')%>
    <% end %>

    <p> First Name <%= @profile.first_name || "" %></p>
    <p> Last Name <%= @profile.last_name || "" %></p>
    <p> Date of Birth <%= @profile.date_of_birth || "" %></p>
    <p> Phone Number <%= @profile.phone_number || "" %></p>

    <%= link_to edit_user_profile_path(@profile.user, @profile), {class: "btn btn-primary form-btn "} do %> <h4>Edit my profile </h4>
    <% end %>
</div>
