<div class='col-xs-4 col-xs-offset-4'>
  <h1>Mon Profile</h1>
</div>

<div class='row'>
  <div class='col-xs-12 col-md-5 col-md-offset-1' >
    <h3>Mes infos</h3>
    <% if @profile.picture.presence %>
        <%= image_tag image_path(@profile.picture)%>
    <% else %>
      <%= image_tag ('human_avatar.png')%>
    <% end %>

    <p> Prénom <%= @profile.first_name || "" %></p>
    <p> Nom <%= @profile.last_name || "" %></p>
    <p> Date de Naissance <%= @profile.date_of_birth || "" %></p>
    <p> N° de tel <%= @profile.phone_number || "" %></p>

    <%= link_to edit_user_profile_path(@profile.user, @profile), {class: "btn btn-primary form-btn "} do %> <h4>Editer mon Profile </h4>
    <% end %>
</div>
