<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h3 class="text-center">Ma commande</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= render 'orders/order_card', order: @order %>
      <%= form_tag order_payments_path(@order) do %>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="My PickEatUp Order"
      data-description="Commande n° <%= @order.id %>"
      data-amount="<%= @order.set_bill*100 %>"
      data-currency="EUR"></script>
  <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <hr>
      <p>Carte</p>
      <div id="map" style="width: 100%; height: 600px;"></div>

      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).on('ready', function() {
            handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function(){
              markers = handler.addMarkers(<%= raw @markers.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
            });
          })
        <% end %>
      <% end %>
    </div>
  </div>
</div>
