<div class="container">
  <% if cart_array.presence %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="row">
            <div class="col-xs-4">Date: </div>
            <div class="col-xs-5"></div>
            <div class="col-xs-3"></div>
          </div>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="row">
            <div class="col-xs-4">Quantité</div>
            <div class="col-xs-5">Nom</div>
            <div class="col-xs-3">Prix unitaire</div>
          </div>
          <hr>
            <% cart_array.each do |order_line_hash| %>
            <div class="row">
              <div class="col-xs-4">
              <!-- button + -->
                <%= simple_form_for @cart, url: add_to_cart_meals_path, method: :post  do |form| %>
                  <%= form.input :meal_quantity, as: :hidden, input_html: { value: 1 } %>
                  <%= form.input :meal_price, as: :hidden, input_html: { value: order_line_hash["meal_price"] } %>
                  <%= form.input :meal_id, input_html: { value: order_line_hash["meal_id"] }, as: :hidden %>
                  <%= form.button :submit, "+", class: 'btn btn-default' %>
                <% end %>
                <!-- meal quantity -->
                <%= order_line_hash["meal_quantity"] %></div>
                <!-- button - -->
                <%= simple_form_for @cart, url: delete_from_cart_meals_path, method: :post  do |form| %>
                  <%= form.input :meal_id, input_html: { value: order_line_hash["meal_id"] }, as: :hidden %>
                  <%= form.button :submit, "-", class: 'btn btn-default' %>
                <% end %>
              <div class="col-xs-5">
                <% @meal = Meal.find(order_line_hash["meal_id"]) %>
                <%= @meal.name%>
              </div>
              <div class="col-xs-3"><%= order_line_hash["meal_price"] %> $</div>
            </div>
          <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <hr>
        <div class="row">
          <div class="col-xs-8">Pick Up Time: <%= pick_up_time%></div>
          <div class="col-xs-1"></div>
          <div class="col-xs-3">Total: <%= bill %> $</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <hr>
        <p><strong>Restaurant: </strong><%= @meal.restaurant.name %></p>
        <p><strong>Address: </strong><%= @meal.restaurant.address %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <hr>
         <!-- button valider -->
        <%= simple_form_for @order do |form| %>
          <%= form.input :user_id, input_html: { value: current_user }, as: :hidden %>
          <%= form.button :submit, "Valider mon panier", class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  <% else %>
      <p>Votre panier est vide</p>
  <% end %>
</div>

