<div class="container">
  <!-- order_lines -->
  <% if cart_array.nil?%>
    <p>Votre panier est vide</p>
  <% else %>
    <div class="row">
      <div class="col-xs-12">
        <% cart_array.each do |order_line_hash| %>
          <p><%= order_line_hash["meal_quantity"] %></p>
          <% @meal = Meal.find(order_line_hash["meal_id"]) %>
          <p><%= @meal.name%></p>
          <p><%= order_line_hash["meal_price"] %></p>
<!-- button delete_from_cart -->
          <%= simple_form_for @cart, url: delete_from_cart_meals_path, method: :post  do |form| %>
            <%= form.input :meal_id, input_html: { value: order_line_hash["meal_id"] }, as: :hidden %>
            <%= form.button :submit, "Supprimer", class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <!-- bill -->
        <%= bill %>
        <br>
        <!-- pick up time -->
        <%= pick_up_time %>
        <br>
        <!-- pick up place -->
        <%= @meal.restaurant.address %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <!-- button valider -->
        <%= simple_form_for @order do |form| %>
          <%= form.button :submit, "Valider mon panier", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
