<% if @boisson.count > 1  %>
  <h2>Boissons</h2>
  <%@boisson.each do |meal| %>
    <div class="thumbnail caption">
      <%= image_tag('http://unsplash.it/300/200', class: 'img-responsive') %>
      <strong><p><%= meal.name %></p></strong>
      <p>Prix: <%= meal.price %> $</p>
      <p><%= meal.description %></p>
      <%= render 'meals/pickeatup_button', meal: meal %>
    </div>
  <% end %>
<% end %>

<% if @entree.count > 1   %>
  <h2>Entrees</h2>
  <%@entree.each do |meal| %>
    <div class="thumbnail caption">
      <%= image_tag('http://unsplash.it/300/200', class: 'img-responsive') %>
      <strong><p><%= meal.name %></p></strong>
      <p>Prix: <%= meal.price %> $</p>
      <p><%= meal.description %></p>
      <%= render 'meals/pickeatup_button', meal: meal %>
    </div>
  <% end %>
<% end %>

<% if @plat.count > 1 %>
  <h2>Plats</h2>
  <%@plat.each do |meal| %>
    <div class="thumbnail caption">
      <%= image_tag('http://unsplash.it/300/200', class: 'img-responsive') %>
      <strong><p><%= meal.name %></p></strong>
      <p>Prix: <%= meal.price %> $</p>
      <p><%= meal.description %></p>
      <%= render 'meals/pickeatup_button', meal: meal %>
    </div>
  <% end %>
<% end %>

<% if @dessert.count > 1 %>
  <h2>Desserts</h2>
  <%@dessert.each do |meal| %>
    <div class="thumbnail caption">
      <%= image_tag('http://unsplash.it/300/200', class: 'img-responsive') %>
      <strong><p><%= meal.name %></p></strong>
      <p>Prix: <%= meal.price %> $</p>
      <p><%= meal.description %></p>
      <%= render 'meals/pickeatup_button', meal: meal %>
    </div>
  <% end %>
<% end %>



