

<%@restaurant_meal.each do |meal| %>
  <% if  meal.meal_type_id == 1  %>
    <div class="thumbnail caption">
      <h3>Entrees</h3>
      <%= image_tag('http://unsplash.it/300/200', class: 'img-responsive') %>
      <%= meal.name %>
      <%= meal.price %>
      <%= meal.description %>
      <%= meal.name %>
      <%= render 'meals/pickeatup_button', meal: meal %>
    </div>
  <% else %>
  <% end %>
  <% if  meal.meal_type_id == 2  %>
    <div class="thumbnail caption">
      <h3>Plats</h3>
      <%= image_tag('http://unsplash.it/300/200', class: 'img-responsive') %>
      <%= meal.name %>
      <%= meal.price %>
      <%= meal.description %>
      <%= meal.name %>
      <%= render 'meals/pickeatup_button', meal: meal %>
    </div>
  <% else %>
  <% end %>
  <% if  meal.meal_type_id == 3  %>
    <div class="thumbnail caption">
      <h3>Desserts</h3>
      <%= image_tag('http://unsplash.it/300/200', class: 'img-responsive') %>
      <%= meal.name %>
      <%= meal.price %>
      <%= meal.description %>
      <%= meal.name %>
      <%= render 'meals/pickeatup_button', meal: meal %>
    </div>
  <% else %>
  <% end %>
  <% if  meal.meal_type_id == 4  %>
    <div class="thumbnail caption">
      <h3>Boissons</h3>
      <%= image_tag('http://unsplash.it/300/200', class: 'img-responsive') %>
      <%= meal.name %>
      <%= meal.price %>
      <%= meal.description %>
      <%= meal.name %>
      <%= render 'meals/pickeatup_button', meal: meal %>
    </div>
  <% else %>
  <% end %>
<% end %>
