<div class="container restaurants">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

      <h1>Update meal </h1>

      <%= simple_form_for [@restaurant, @meal]  do |form| %>
        <%= form.input :name %>
        <%= form.input :price %>
        <%= form.input :prep_time, as: :integer %>
        <%= form.input :description, as: :text, placeholder: 'Describe your delicious meal ...'%>
        <%= form.association :meal_type %>
        <%= form.input :picture %>
        <%= form.input :picture_cache, as: :hidden %>
        <%= form.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
