<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <h4>Affinez votre selection selon vos envies</h4>
      <hr>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-3">Ma localisation</div>
    <div class="col-xs-3">Nom de plat</div>
    <div class="col-xs-2">Categorie</div>
    <div class="col-xs-2">Prix maximum</div>
    <div class="col-xs-2"></div>
  </div>
  <div class="row">
    <%= simple_form_for meals_path, method: :get  do |form| %>
    <div class="col-xs-3">
      <%= form.input :query_address, as: :string, label: false , placeholder: 'Grand place, Lille', input_html: { class: "form-control" } %>
    </div>
    <div class="col-xs-3">
      <%= form.input :query_name, as: :string, label: false , placeholder: 'Couscous', input_html: { class: "form-control" } %>
    </div>
    <div class="col-xs-2">
      <%= form.input :query_category, as: :string, label: false , placeholder: 'Marocain', input_html: { class: "form-control" } %>
    </div>
    <div class="col-xs-2">
      <%= form.input :query_max_price, collection: 0..100, label: false , input_html: { class: "form-control" } %>
    </div>
    <div class="col-xs-2">
      <%= form.button :submit, "Pick Eat Up", class: 'btn btn-default' %>
    </div>
  </div>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <% if @meals.blank? %>
          There is no meal
        <% else %>
          <% @meals.each do |meal| %>
            <div class="col-xs-6">
              <%= render 'meals/meal_card', meal: meal %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6">
      <h3>Map</h3>
    </div>
  </div>
</div>
