<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12">
          <% if @meal.picture.presence %>
            <%= image_tag image_path(@meal.picture)%>
          <% end %>

          <h1><%= @meal.name %></h1>
          <%= simple_form_for @cart, url: add_to_cart_meals_path, method: :post  do |form| %>
            <%= form.input :meal_quantity, as: :hidden, input_html: { value: 1 } %>
            <%= form.input :meal_price, as: :hidden, input_html: { value: @meal.price } %>
            <%= form.input :meal_id, input_html: { value: @meal.id }, as: :hidden %>
            <%= form.button :submit, "Pick Eat Up", class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2>Reviews</h2>
          <% if @meal.reviews.any? %>
            <% @meal.reviews.each do |review| %>
              <%= render 'review_card', review: review %>
            <% end %>
          <% else %>
            <p>Soyez le premier à donner votre avis</p>
          <% end %>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h3>Donnez votre avis</h3>

          <%= simple_form_for [@meal, @review] do |form| %>
            <%= form.input :content %>
            <%= form.input :rating, collection: 0..5 %>
            <%= form.button :submit, class: 'btn btn-primary' %>
          <% end %>

        </div>
      </div>
    </div>

    <div class="col-xs-6">
<!-- pourquoi pas un if pour mettre la carte quand le manier est vide -->
      <h3>Mon panier</h3>
      <hr>
      <%= render 'cart', cart_array: session[:cart], bill: session[:bill], pick_up_time: session[:pick_up_time]%>
    </div>
  </div>
</div>
