<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12">
          <% if @meal.picture.presence %>
            <%= image_tag image_path(@meal.picture)%>
          <% end %>

          <h1><%= @meal.name %></h1>
          <%= simple_form_for @meals  do |form| %>
            <%= form.button :submit, "Pick Eat Up", class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2>Reviews</h2>
          <% if @meal.reviews.any? %>
            <% @meal.reviews.each do |review| %>
              <%= render 'review_card', review: review %>
            <% end %>
          <% else %>
            <p>Soyez le premier à donner votre avis</p>
          <% end %>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h3>Donnez votre avis</h3>

          <%= simple_form_for [@meal, @review] do |form| %>
            <%= form.input :content %>
            <%= form.input :rating, collection: 0..5 %>
            <%= form.button :submit, class: 'btn btn-primary' %>
          <% end %>

        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <h3>Restaurant location</h3>
    </div>
  </div>
</div>
