<div class="row">
  <div class="col-xs-1"><p><%= order.id %></p></div>
  <div class="col-xs-2"><p><%= order.user.profile.first_name %></p></div>
  <div class="col-xs-2"><p><%= order.pick_up_time.strftime("%H:%M") %></p></div>
  <div class="col-xs-2"><p><%= order.bill %> €</p></div>
  <%= simple_form_for order do |form| %>
    <div class="col-xs-3">
      <%= form.select :status, ["pending", "accepted", "canceled", "pick-up"], class: ' input-sm', label: false %>
    </div>
    <div class="col-xs-2"><%= form.button :submit, 'Ok', class: 'btn btn-default btn-xs' %></div>
  <% end %>
</div>
