<div class="container">
  <div class="text-center"><h2><%= @meal.name %></h2></div>
  <div class="row">
    <div class="col-xs-6">
    <h4 class="text-center">Les avis</h4>
      <% if @meal.reviews.any? %>
        <% @meal.reviews.each do |review| %>
          <%= render 'review_card', review: review %>
        <% end %>
      <% else %>
        <p>Il n'y a pas encore d'avis </p>
      <% end %>
    </div>

    <div class="col-xs-6">
    <h4 class="text-center">Laissez un avis</h4>
      <%= simple_form_for [@meal, @review] do |form| %>
        <%= form.input :content %>
        <%= form.input :rating, collection: 0..5 %>
        <%= form.button :submit, 'Valider',class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>

