<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

      <button class="navbar-toggle collapsed" aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">

        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to 'PickEat-Up', root_path, class: 'navbar-brand', data: { no_turbolink: 'true'} %>
    </div>

    <div>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Grand Place, Lille">
        </div>
        <button type="submit" class="btn btn-default">Pick-Eat Up</button>
      </form>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
          <% if current_user.orders.presence %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                <div class="badge-container">
                  <i class="fa fa-shopping-basket"></i>
                  <% if current_user.orders.last.status == "Pending" %>
                    <div class="badge badge-blue">!</div>
                  <% end %>
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><%= link_to 'My orders', orders_path %></li>
              </ul>
            </li>
          <% end %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> Restaurants <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><%= link_to 'New Restaurant', new_restaurant_path %></li>
              <% if current_user.restaurants.presence %>
                <li><%= link_to 'My Restaurants', restaurants_path %></li>
              <% end %>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle navbar-wagon-pict" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
              <% if current_user.profile.first_name.presence %>
              <%= current_user.profile.first_name%> <%= image_tag current_user.profile.picture%> <span class="caret"></span>
              <% else %>
              <%= 'Your name' %> <%= image_tag current_user.profile.picture%> <span class="caret"></span>
              <% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><%= link_to 'My profile', user_profile_path(current_user,current_user.profile) %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete%></li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign in', new_user_session_path %>
          </li>
          <li>
            <%= link_to 'Sign up', new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
